.hangman-cont {
    text-align: center;
}

html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  margin:0;
  padding:0;
  font-family: "Arial";
}

.hangman-cont{
    margin-top: 100px;
    margin-bottom: 0px;
}
#word{  
    margin: 0;
    font-size: 125px;  
    font-family: "Arial";
}
.keyboard{
    margin-top: 100px;
    font-size: 0;
    margin-bottom:0px;
}

.keyboardkey{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    font-weight: bolder;
    background-color: ivory;
    font-size: 25px;
    font-family: "Arial";
}

#change{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    font-weight: bolder;
    background-color:ivory;
    font-size: 25px;
}

.wrong {
    font-family: arial,sans-serif;
    color: red;
    align-items: top;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 100px;
}
.lives {
    font-size: 35px;
    font-weight: bolder;
    text-align: right;
    margin-left: 500px;
    font-family: "arial";
}

.pressed {
    background-color: #a9a9a9;
    opacity: .3;
    text-decoration: none;
    width: 120px;
    height: 120px;
    color: red;
}

.keyboardkey:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.pressed:hover{
    transform: none;
    box-shadow: nonel;
    background-color: #a9a9a9;
}
